@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  line-height: 1.5;
  direction: rtl;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* background-color: #CECECE; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;


    
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100dvw;
  min-height: 100vh;
  background-color: #dedede;
  font-family:  "Varela Round", sans-serif; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
